body { 
    background-color: #1a1a1a; 
    color: white; 
    font-family: sans-serif; 
    padding: 20px; 
}

h2 {
    margin-top: -10px;
}

#visualization {
    width: 100%;
    height: 600px;
    background-color: #222;
    border: 1px solid #444;
}

.controls {
    margin-bottom: 15px;
}

button {
    padding: 8px 15px;
    cursor: pointer;
    background: #444;
    color: white;
    border: 1px solid #666;
    border-radius: 4px;
}

button:hover {
    background: #555;
}

.vis-timeline {
    border: 2px solid #444444;
    border-radius: 1px;
}

.vis-time-axis .vis-text { color: white !important; }
.vis-labelset .vis-label { color: white !important; background: #191919; border-bottom: 1px solid #444; }
.vis-panel.vis-bottom, .vis-panel.vis-center, .vis-panel.vis-left { border-color: #555 !important; }

.vis-item.book { background-color: #16d40cbf; color: rgb(255, 255, 255); border-color: #82b366; font-weight: bold; }
.vis-item.history { background-color: #c90101bf; color: rgb(255, 255, 255); border-color: #b85450; font-weight: bold;}

.vis-label {
    display: flex;
    align-items: flex-end;
}

.vis-time-axis .vis-grid.vis-minor {
    border-color: #444444;
    border-width: 1px;
}

